*.~
*.swp
*.fa
*.fai
*.bai
bigsis/
node_modules/
logs/
tests/*.fasta
tests/*.txt
tests/*.out
tests/test_data/
tests/random_seqs/
tests/benchmarks/seqs/
tests/benchmarks/outputs/
mutation_rate_ci_calculator/
